.statsContainer {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 200px 200px 200px 200px;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 0.25rem;
}
   
.HeroHeading {
    font-size: 50px;
}

.Holder {
    display: flex;
  -webkit-box-shadow: 7px 5px 11px -1px rgba(11, 33, 51, 0.92);
  box-shadow: 7px 5px 11px -1px rgba(11, 33, 51, 0.92);
  height: 10vh;
}
  
.Left {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e88e5;
  width: 120px;
  height: 10vh;
}
  
.Right {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
  width: 200px;
  grid-column: 2 / 3;
}
  
.Display {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
  